/*main*/
.register-form-height {
	height: 480px;
}
.sign-nav i {
	background: url(../image/register.png) no-repeat;
}
.sign-nav ul li i {
	display: inline-block;
	width: 36px;
	height: 20px;
	background-position: -216px -8px;
	vertical-align: -6px;
	
}
.sign-nav ul li.selected i {
	display: inline-block;
	width: 27px;
	height: 27px;
	background-position: -187px -2px;
	vertical-align: -5px;
}
#p1  {
	color: red;
	font-size: 14px;
}
#p2  {
	color: red;
	font-size: 14px;
}
#p3  {
	color: red;
	font-size: 14px;
}
